@tailwind base;
@tailwind components;
@tailwind utilities;

.home-main:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("../public/orchestra.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	filter: saturate(0.3);
	opacity: 20%;
}
