@tailwind base;
@tailwind components;
@tailwind utilities;

.home-main:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("../public/orchestra.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	filter: saturate(0.3);
	opacity: 20%;
}

.settings-container {
	background: rgba(107, 106, 106, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.1px);
	-webkit-backdrop-filter: blur(4.1px);
	border: 1px solid rgba(107, 106, 106, 0.3);
}

/* add small up/down arrows above/below slider using before/after pseudo selector */
#slider:before {
	content: "";
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}

#slider:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
}
